<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.example.demo.SpringBootApp" />
    <module name="alarma-comunitaria" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>